
/* ajout form css */

:root {
    --white: #fff;
    --gray: #F5F5F5;
    --black1: #222;
    --black: #2c2a2a;
}
.ajoutReservation{
    color: #e9f1f1;
    font-size: 13.5px;
}
.ajoutReservation .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.ajoutReservation form{
    padding: 10px 20px;
}
.ajoutReservation form .rows{
    margin-bottom: 11px;
}
.ajoutReservation form label{
    display: block;
}
.ajoutReservation form input{

    width: 220px;
    outline: none;
    border: 1px solid var(--gray) ;
    background-color: rgb(75, 72, 72);
    padding: 3px 10px;
    color: white;
    font-weight: 400;
    border-radius:4px;
}
.ajoutReservation form button{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 7px;
}


.btnAjoutRes{
    position: absolute;
    right: 4.7%;
    top: 12.9%;
    display: none;
}