@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --white: #fff;
    --gray: #F5F5F5;
    --black1: #222;
    --black: #2c2a2a;
  }
}

body {
   background-color: var(--white);
}
.body{
  padding: 3vh 10vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ======= wrapper Modale PopUp ========== */

.wrapperPopUp{
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(8, 8, 8, 0.77);

  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapperPopUp > div{
  box-shadow: 1px 1px 5px var(--gray);
}
.close{
  font-size: 20px;
}
